/* Importando font-family do fonts-google */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
     /* incorporar margin e padding tudo dentro de uma caixa */
    box-sizing: border-box;
}

html,body {
    font-family: 'Roboto', sans-serif;
    background: #FFB8C9;
    display: inline;
    overflow-x: hidden !important;
}

/*Aqui começa a parte do MENU que se referente a parte da NAVEGAÇÃO */
.navbar{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    background: #FFB8C9;
    justify-content: content;
    align-items: center;
    /* border: 1px solid red; */
    padding-left: 10%; 
}

.logo{
    flex: 20%; /* soma de 20% + 10% + 70% = 100% */
    margin-left: 10%; /* soma de 10% + 20% + 70% = 100% */
    /**** PARA FAZER UM TESTE COM A BORDA ****/
    /* border: 1px solid #000; */
    text-align: left;
} 

.logo h1, f{
    font-family: 'Lobster', cursive;
    color: #FF2978;
    font-size: 32px;
} 

.logo h1, a{
    text-align: center;
    font-size: 35px;
} 

.logo img{
    width: 80%;
    height: 70%;
}

.menu{
    flex: 60%; /* soma de 70% + 10% + 20% = 100% */
    /**** PARA FAZER UM TESTE COM A BORDA ****/
    /* border: 1px solid red;  */
    text-align: right;
    padding: 20px;
    
}

.menu a{
    color: #180F4A;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #FF2978;
    border-top: 4px solid #180F4A;
}

#botao{
    background-color: #180F4A;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%; /* soma de 10% + 70% + 10% + 20% = 100% */
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background-color: #FF2978;
}

/***  AQUI COMEÇA O HEADER  ***/

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
    background: #FFB8C9;
}

.headline {
    margin-left: 5%;
    flex: 30%;
}


.headline h2{
    letter-spacing: 15px;
    font-size: 27px;
    padding: 0;
    margin: -4px;
    margin-bottom: 30px;
}

.headline h3{
    font-weight: 900;
    color: #180F4A;
    padding: 0;
    margin: -4px;
    margin-bottom: 30px;
    font-size: 65px;
}

.headline p{
    font-size: 25px;
    color: #595858;
    text-align: left;
    margin: 10px;
}

.contact-btn{
    display: inline-block;
    background-color: #FF2978;
    color: white;
    font-size: 16px;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    border-radius:  5px;
    text-transform:  uppercase;
}

.contact-btn:hover{
    background: #180F4A;
}

.img-headline {
    margin-right: 5%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.dunlt{
    position: relative;
    margin-top: -15px;
    margin-right: 220px;
    width: 100%;
}

.bolo{
    position: absolute;
    margin-top: 25px;
    margin-left: 180px;
    width: 40%;
}

.biscoito img{
    position: absolute;
    margin-top: -185px;
    margin-left: 390px;
    width: 20%;
}

.pote img{
    position: absolute;
    margin-top: -285px;
    margin-left: 230px;
    width: 18%;
}

section{
    display: inline-block;
    margin-top: 80px;
    margin-left:  5%;
    margin-right: 5%;
    padding: 5px;
    text-align: center;
    width: 90%;
}
section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180F4A;
}

.servicos{
    display: inline-block;
    margin-left: 60px;
    cursor: grab;
}

/***  AQUI COMEÇA O CARD  ***/

.card {
    float: left;
    width: 30%;
    height: auto;
    margin: 1%;
    left: 20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.5), 0 6px 20px 0 rgba(0,0,2,0.19);
}
.card-text{
    margin-top: 15px;

}

.card h3{
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.reduzido{
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover .reduzido{
    white-space: normal;
} 

.card:hover{
    background:#FF2978;
    color: #FFFF;
    padding: 40px;
}

.card:hover img{
    display: none;
    opacity: 0.6;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

.texto-oculto{
    display: none;
}

h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #180F4A;
    padding: 0;
    margin-top: 10;
}

p{
    font-size: 15px;
    font-family:  'Roboto', sans-serif;
    font-weight: 900;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

/***  AQUI COMEÇA O GOURMET  ***/

.gourmet{
    display: flex;
    margin-right: 70px;
    
}

section .gourmet-img img{
    border-radius: 50%;
    width:20%; 
    height:42%; 
    position: absolute;
    margin-left: 70px;
    margin-top: -5px;
    border: 1px solid black; 
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.5), 0 6px 20px 0 rgba(0,0,2,0.19);
}

section .gourmet-p p{
    background:url('../img/fundoDocinhos.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: white;
    color:#FFB8C9;
    border: 1px solid black; 
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.5), 0 6px 20px 0 rgba(0,0,2,0.19);
    border-radius: 2%;
    text-align: center;
    width: 95%;
    height: 250px;
    margin-left: 160px; 
    padding-right: 800px;
    z-index: -1;
}

/***  AQUI COMEÇA AS REDES-SOCIAIS  ***/

section .redes-sociais{
    display: flex;
    margin-left: 10px;
    margin-top: -150px;
}

section .redes-sociais-img img{
    display: flex;
    z-index: -1;
}

label .imgNome{
    font-size: 32px;
}

label .imgInst{
    font-size: 35px;
}

.redes-sociais-h h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    padding-top: 150px;
    margin-left: -150px;
}

.redes-sociais-h p{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: -150px;
    border-top: 3px solid black;
    margin-top: -20px;
}

.redes-sociais-zap div{
    display: inline-block;
    width: 40%;
    height: 50%;
    padding: 30px;
    margin-top: -50px;
    margin-left: -40px;
}

.redes-sociais-zap img{
    margin-left: 35px;
}

.rede-zap img{
    width: 100%;
    height: 50%;
}

/***  AQUI COMEÇA O VIDEO  ***/

.video{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    cursor: grab;
    width: 100%;
    height: 600px;
}


.video h1{
    color: #180F4A;
    font-size: 60px;
}

.vd{
    border: 5px solid #FF2978;
    border-radius: 25px;;
    padding: auto;
    width: 600px;
    height: 600px;
}

.vd poster{
    width: 600px;
    height: 600px;
}

/***  AQUI COMEÇA OS ICONES DO WHATSAPP E INSTAGRAM  ***/

.instFloat{
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 50px;
}

section .whats{
    position: fixed;
    bottom: 15px;
    right: 40px;
    width: 50px;
}
/***  AQUI COMEÇA O FOOT  ***/

.foot{
    width: 100%;
    height: auto;
    padding:0;
    margin: 0;
    background-image: linear-gradient(180deg, #180F4A,#090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;
    font-size: 22px;
}

.foot, a{
    font-size: 18px;
}

.foot-rodape{
    padding-top: 60px;
    padding-bottom: 20px;
}

.foot-rodape p{
    font-size: 30px;
}

.foot-rodape a{
    font-size: 18px;
}


/*************************************************************************** 
                         AQUI COMEÇA AS TELAS REPONSIVEIS
****************************************************************************/

/************************ Media Queries 1380px  ****************************/
@media(max-width: 1380px){
    html,body {
        overflow-x: hidden !important;
    }

    /*Aqui começa a parte do MENU que se referente a parte da NAVEGAÇÃO */

.navbar{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    background: #FFB8C9;
    justify-content: content;
    align-items: center;
    padding-left: 10%; 
}
    
.logo{
    flex: 20%; /* soma de 20% + 10% + 70% = 100% */
    margin-left: 10%; /* soma de 10% + 20% + 70% = 100% */
    /**** PARA FAZER UM TESTE COM A BORDA ****/
    /* border: 1px solid #000; */
    text-align: left;
} 

.logo h1, f{
    font-family: 'Lobster', cursive;
    color: #FF2978;
    font-size: 30px;
} 

.logo h1, a{
    text-align: center;
    font-size: 30px;
} 

.menu{
    flex: 68%; /* soma de 70% + 10% + 20% = 100% */
    /**** PARA FAZER UM TESTE COM A BORDA ****/
    /* border: 1px solid red;  */
    text-align: right;
    padding: 20px;
}
    
.menu a{
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    margin-right: -10px;
    padding: 20px 16px;
    }
.logo h1{
    font-size: 40px;
} 

/***  AQUI COMEÇA O HEADER  ***/
.dunlt{
    position: relative;
    margin-top: -15px;
    left: 20px;
    width: 110%;
}

.bolo{
    position: absolute;
    margin-top: 25px;
    right: -10px;
    width: 40%;
}

.biscoito img{
    position: absolute;
    top: 820px;
    margin-left: 365px;
    width: 13%;
}

.pote img{
    position: absolute;
    top: 850px;
    margin-left: 250px;
    width: 13%;
}

/***  AQUI COMEÇA O GOURMET  ***/
#gourmet img{
    width: 265px; 
    height: 265px; 
}

.headline h2{
    letter-spacing: 14px;
    font-size: 26px;
    padding: 0;
    margin: -4px;
    margin-bottom: 30px;
}

.headline h3{
    font-size: 62px;
    padding: 0;
    margin: -4px;
    margin-bottom: 30px;
}

/***  AQUI COMEÇA O VIDEO  ***/
/* 
video{
    width: 100%;
    height: 600px;
    cursor: grab;
}

.video{
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.video img{
    position: absolute;
    margin-top: -100px;
    margin-left: 100px;
    z-index: -1;
}

.video h1{
    color: #180F4A;
    font-size: 60px;
}

.vd{
    border: 5px solid #FF2978;
    border-radius: 25px;;
    padding: auto;
    width: 600px;
    height: 600px;
}

.vd poster{
    width: 600px;
    height: 600px;
} */

/***  AQUI COMEÇA O WHATSAPP  ***/
.whats{
    position: fixed;
    bottom: 5px;
    right: 80px;
    width: 180px;
}

/***  AQUI COMEÇA O FOOT  ***/

.foot{
    width: 103%;
    height: auto;
    padding:0;
    margin: 0;
    background-image: linear-gradient(180deg, #180F4A,#090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;
}

.foot-rodape{
    padding-top: 60px;
    padding-bottom: 20px;
}

}

/************************ Media Queries 1024px  ****************************/
@media(max-width: 1024px){ 

body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
} 
/*Aqui começa a parte do MENU que se referente a parte da NAVEGAÇÃO */
.navbar{
    padding-right: 10%;
    width: 109%;
}

.menu{
    flex: 70%;
    margin-top: 10px;
    left: 50px;
    padding: 0px
}

.menu a{
    font-size: 15px
}

#logo{
    font-size: 28px;
} 
    

.logo h1, f{
    font-family: 'Lobster', cursive;
    color: #FF2978;
    font-size: 23px;
} 

.logo h1, a{
    text-align: center;
    font-size: 20px;
}  
    /*Aqui começa a parte do HEADER */

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
    background: #FFB8C9;
}

.headline {
    margin-left: 2%;
    flex: 40%;
}

.headline h2{
    font-size: 15px;
    padding: 0;
    margin: -4px;
    margin-bottom: 30px;
}

.headline h3{
    font-size: 50px;
    padding: 0;
    margin: -4px;
    margin-bottom: 30px;
}

.headline p{
    color: #595858;
    text-align: left;
    margin: 10px;
    font-size: 18px;
}

.img-headline {
    margin-right: -1%;
    margin-bottom: 30px;
    flex: 5%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.dunlt{
    position: relative;
    margin-top: -15px;
    left: 20px;
    width: 100%;
}

.bolo{
    position: absolute;
    margin-top: 25px;
    right: -10px;
    width: 40%;
}

.biscoito img{
    position: absolute;
    margin-top: -200px;
    margin-left: 335px;
    width: 20%;
}

.pote img{
    position: absolute;
    margin-top: -320px;
    margin-left: 190px;
    width: 20%;
}

/***  AQUI COMEÇA O CARD  ***/

.texto-oculto h3{
    font-size: 23px;
}

.texto-oculto p{
    font-size: 13px;
}

/***  AQUI COMEÇA O GOURMET  ***/

section .gourmet-img img{
    width:27%; 
    height:44%; 
    margin-left: 10px;
    margin-top: -5px;
}

section .gourmet-p p{
    width: 95%;
    height: 250px;
    margin-left: 100px; 
    padding-right: 700px;
    z-index: -1;
}

/***  AQUI COMEÇA O INSTAGRAM COM AS DUAS IMAGEM  ***/
/* 1º */
label .imgNome{
    width: 50%;
}
/* 2º */
label .imgInst{
    width: 100%;
    height: 100%;
}

/***  AQUI COMEÇA AS REDES-SOCIAIS  ***/

.redes-sociais-h h1{
    font-size: 35px;
    margin-bottom: 15px;
    padding-top: 200px;
    margin-left: -200px;
}

.redes-sociais-h p{
    font-size: 35px;
    margin-left: -200px;
    margin-top: 10px;
}

.redes-sociais-img img{
    width: 80%;
    left: 35px;
    margin-top: 40px;
}

.redes-sociais-zap img{
    margin-left: 35px;
}

.rede-zap img{
    width: 100%;
    height: 50%;
}

.redes-sociais-zap div{
    width: 50%;
    height: 60%;
}

/***  AQUI COMEÇA O VIDEO  ***/

.video img{
    position: absolute;
    width: 40%;
    margin-top: -100px;
    margin-left: 90px;
    z-index: -1;
}

/***  AQUI COMEÇA OS ICONES DO WHATSAPP E INSTAGRAM  ***/

.instFloat{
    position: fixed;
    bottom: 80px;
    right: 100px;
    width: 40px;
}

section .whats{
    position: fixed;
    bottom: 15px;
    right: 100px;
    width: 40px;
} 

/***  AQUI COMEÇA O FOOT  ***/

.foot{
    width: 109%;
    height: auto;
    padding:0;
    margin: 0;
    background-image: linear-gradient(180deg, #180F4A,#090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;
}

.foot-rodape{
    padding-top: 60px;
    padding-bottom: 20px;
}

}

/************************* Media Queries 768px *********************************/
@media(max-width: 768px){
    html,body {
        overflow-x: hidden !important;
    }

/*Aqui começa a parte do MENU que se referente a parte da NAVEGAÇÃO */
.navbar{
    padding-right: 15%;
    width: 109%;
}

.menu{
    flex: 60%; /* soma de 70% + 10% + 20% = 100% */
    margin-top: 10px;
    left: 50px;
    padding: 0px;
}

.menu a{
    font-size: 12px;
    padding: 6px;
    margin-right: -2px;
}

#logo {
    font-size: 25px;
    margin-right: 0px;
} 

.logo h1, f{
    font-family: 'Lobster', cursive;
    color: #FF2978;
    font-size: 20px;
} 

.logo h1, a{
    text-align: center;
    font-size: 18px;
} 

#botao{
    padding: 12px 20px;
    margin-right: -3%; /* soma de 10% + 70% + 10% + 20% = 100% */
    margin-left: 5%;
}

/*Aqui começa a parte do HEADER */

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    background: #FFB8C9;
}

.headline {
    margin-left: 5%;
    flex: 60%;
}

.headline a{
    font-size: 12px;
}

.headline h2{
    letter-spacing: 10px;
    font-size: 15px;
    padding: 0;
    margin: -4px;
    margin-top: 80px;
}

.headline h3{
    font-size: 40px;
    padding: 0;
    margin: -4px;
    margin-bottom: 30px;
}

.headline p{
    color: #595858;
    margin: 0px;
    font-size: 13px;
    padding-right: 200px;
}

.contact-btn{
    font-size: 16px;
    padding: 17px;
    margin: 15px;
}

.dunlt img{
    position: absolute;
    margin-top: -300px;
    left: -230px;
    width: 300px;
}

.bolo img{
    position: absolute;
    margin-top: -300px;
    left: 10px;
    width: 330px;
}

.biscoito img{
    position: absolute;
    top: 750px;
    margin-left: -20px;
    width: 130px;
}

.pote img{
    position: absolute;
    top: 825px;
    margin-left: -20px;
    width: 130px;
}

/***  AQUI COMEÇA O CARD  ***/

#sobre{
    margin-top: -10px;
}

.card {
    width: 30%;
    margin: 2%;
    margin-left: -5px;
}

.limao{
    margin-bottom: 21%;
}

section .card-bolos h2{
    width: 750px;
    font-size: 50px;
    margin-top: 150px;
}

section .servicos{
    margin-top: 10px;
    padding-left: 5px;
}

.texto-oculto h3{
    font-size: 14px;
}

.texto-oculto p{
    font-size: 9px;
}

/***  AQUI COMEÇA O GOURMET  ***/

section .gourmet-img img{
    width: 27%; 
    height: 15%; 
    margin-left: 10px;
    margin-top: -30px;
}

section .gourmet-p p{
    width: 30%;
    height: 200px;
    margin-left: 125px; 
    padding-right: 580px;
    z-index: -1;
}

/***  AQUI COMEÇA AS REDES-SOCIAIS  ***/

.redes-sociais-h h1{
    font-size: 40px;
    margin-bottom: 15px;
    padding-top: 190px;
    margin-left: -300px;
}

.redes-sociais-h p{
    font-size: 30px;
    margin-left: -320px;
    margin-top: -10px;
}

.redes-sociais-img img{
    width: 60%;
    left: 35px;
    margin-top: 90px;
}

.redes-sociais-zap img{
    margin-left: 45px;
}

.redes-sociais-zap div{
    width: 50%;
    height: 60%;
}

/***  AQUI COMEÇA O VIDEO  ***/

.video {
    padding-left: 10px;
}

/***  AQUI COMEÇA O ZAP  ***/

.rede-zap img{
    width: 100%;
    height: 50%;
}

/***  AQUI COMEÇA OS ICONES DO WHATSAPP E INSTAGRAM  ***/

.instFloat{
    position: fixed;
    bottom: 140px;
    right: 80px;
    width: 45px;
}

section .whats{
    position: fixed;
    bottom: 65px;
    right: 80px;
    width: 45px;
}

label .imgNome{
    font-size: 32px;
}

label .imgInst{
    margin-left: 6px;
}

/***  AQUI COMEÇA O FOOT  ***/

.foot-rodape{
    padding-top: 40px;
}

.foot{
    width: 111%;
    height: auto;
    padding:0;
    margin: 0;
    background-image: linear-gradient(180deg, #180F4A,#090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;
}

.foot-rodape h1{
    font-size: 25px;
}
.foot-rodape p{
    font-size: 20px;
}

.foot-rodape a{
    font-size: 15px;
}

}


/************************** Media Queries 360px **************************/
@media(max-width: 360px){
    
*{
    
}

html,body {
    display: inline-block;
    margin: 0 auto;
    overflow-x: hidden;
}

/*Aqui começa a parte do MENU que se referente a parte da NAVEGAÇÃO */
.navbar{
    width: 100%;
}
#logo h1, a, f{
    font-size: 25px;
} 

.menu a{
    font-size: 15px;
    padding: 2 px 2 px;
    display: flex;
}

.menu a:hover{
    color: #FF2978;
    border-top: none
}

.Home, .Sobre, .Video, .Redes {
    margin-left: 120px;
}

#botao{
    padding: 10px 100px;
    font-size: 11px;
    margin: 0%; /* soma de 10% + 70% + 10% + 20% = 100% */
    margin-left: 8px;
}

/*Aqui começa a parte do HEADER */

.header{
    height: 400px;
}

.headline {
    margin-left: 40px;
    margin-top: 100px;
}

.headline h2{
    width: 400px;
    letter-spacing: 8.3px;
    font-size: 15px;
    padding: 0;
    margin: -4px;
    margin-top: 50px;
    margin-left: -2px;
}

.headline h3{
    font-size: 36px;
    padding: 0;
    margin: -4px;
    margin-bottom: 50px;
}

.headline p{
    color: #595858;
    margin-top: -50px;
    margin-right: 100px;
    margin-left: -20px;
    padding: 20px;
    font-size: 10px;
    white-space: normal;
}

.img-headline{
    margin-top: -200px;
    margin-left: -900px;
}

.img-headline img{
    margin-top: 200px;
    margin-left: -640px;
}

header .contact-btn{
    font-size: 7px;
    padding: 17px;
    margin: 15px;
    margin-left: 0px;
    margin-top: -15px;
}

.dunlt img{
    position: absolute;
    top: -170px;
    left: 60px;
    margin-left: 65px;
    width: 230px;
}

.bolo img{
    position: absolute;
    top: -190px;
    left: 520px;
    width: 280px;
}

.biscoito img{
    top: 610px;
    margin-left: 360px;
    width: 110px;
}

.pote img{
    top: 560px;
    margin-left: 275px;
    width: 110px;
}


/*  AQUI COMEÇA O CARD  */

#sobre{
    margin-top: 200px;
}
.card {
    display: inline-block;
    width: 125%;
    margin: 10%;
    margin-left: -60px;
}

.limao{
    margin-bottom: 1%;
}

section .card-bolos h2{
    width: 750px;
    font-size: 25px;
    margin-top: 150px;
    margin-left: -220px;
}

section .servicos{
    margin-top: 10px;
    padding-left: 5px;
}

.texto-oculto h3{
    font-size: 25px;
}

.texto-oculto p{
    font-size: 20px;
}

/*  AQUI COMEÇA O GOURMET  */

section .gourmet-img img{
    width: 10%; 
    height: 8%; 
    right: 44px;
}

section .gourmet-p p{
    background:none ;
    background-color: none;
    border: none; 
    box-shadow: none;
}

/*  AQUI COMEÇA O VIDEO  */

.vd{
    width: 300px;
    height: 300px;
}

/*  AQUI COMEÇA AS REDES-SOCIAIS  */

.redes-sociais-h h1{
    font-size: 40px;
    margin-bottom: 15px;
    padding-top: 190px;
    margin-left: -310px;
}

.redes-sociais-h p{
    font-size: 25px;
    margin-left: -320px;
    margin-top: -10px;
}

.redes-sociais-img img{
    width: 130%;
    margin-left: 0px;
    margin-top: -60px;
}

.redes-sociais-zap img{
    margin-left: 45px;
    margin-top: -10px;
}

.redes-sociais-zap div{
    width: 80%;
    height: 80%;
    margin-right: 35px;
}

/*  AQUI COMEÇA OS ICONES DO WHATSAPP E INSTAGRAM  */
/* ICONE */
.instFloat{
    position: fixed;
    bottom: 110px;
    right: 35px;
    width: 35px;
}
/* ICONE */
section .whats{
    position: fixed;
    bottom: 55px;
    right: 35px;
    width: 35px;
}

label .imgNome{
    width: 200px;
    margin-right: 35px;
}

label .imgInst{
    width: 320px;
    height: 250px;
    margin-left: -22px;
    margin-bottom: -90px;
}

/*  AQUI COMEÇA O FOOT  */

.foot-rodape{
    padding-top: 40px;
}

.foot{
    width: 100%;
    height: auto;
    padding:0;
    margin: 0;
    background-image: linear-gradient(180deg, #180F4A,#090422, black);
    text-align: center;
    border-top: 5px solid #FF2978; 
    margin: auto;
}

.foot-rodape h1{
    font-size: 15px;
}

.foot-rodape p{
    font-size: 13px;
}

.foot-rodape b{
    font-size: 11px;
}

.foot-rodape a{
    font-size: 10px;
}
}